/*
******************

Содержание

******************

1. FONT.................1
2. HEADER(MENU).........2
3. LOGO.................3
4. DESCRIPTION..........4
5. NEWS-PHOTO...........5
6. CONTACTS SIGN-UP.....6
7. FOOTER...............7
*/

/*
***********************

FONT.................1

		START

***********************
*/

@font-face {
    font-family: "PT Sans Narrow Bold"; /* Гарнитура шрифта */
    src: url(../fonts/PTSans/PTN77F.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: "PT Sans Narrow"; /* Гарнитура шрифта */
    src: url(../fonts/PTSans/PTN57F.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?81236304');
  src: url('../fonts/fontello.eot?81236304#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?81236304') format('woff2'),
       url('../fonts/fontello.woff?81236304') format('woff'),
       url('../fonts/fontello.ttf?81236304') format('truetype'),
       url('../fonts/fontello.svg?81236304#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */

/*
***********************

FONT.................1

		END

***********************
*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h3 {
	font-size: 20px;
}

.wrapper {
	background: url(../img/background.png);
}

.container {
	width: 960px;
	margin: 0 auto;
}

.clearfix {
	width: 100%;
	display: block;
	clear: both;
}

/*
***********************

HEADER(MENU).........2

		START

***********************
*/

.header {
	background: black;
	clear: both;
}

.header_size {
	width: 100%;
}
.header__btn {
	float: left;
}

.header__btn:hover {
	background: #242424;
}

.header__btn_size{
	width: 100px;
	height: calc(70px - 25px);
	padding: 25px 0 0;
	margin: 0 10px;
}

.header__btn_text{
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-family: "PT Sans Narrow Bold";
}

.header__btn_current-page {
	display: inline-block;
	position: relative;
}

.header__btn_current-page:after {
	content: '';
    position: relative;
    width: 100%;
    display: inline-block;
    height: 5px;
    background-color: white;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.header__btn__icon-login{
	float: left;
}

.header__btn__icon-login_size {
	width:18px;
	height: 16px;
	margin: 2px 0 0; 
}

.header__btn_align {
	margin: 0 20px 0 120px;
}

/*
***********************

HEADER(MENU).........2

		END

***********************
*/


/*
***********************

LOGO.................3

		START

***********************
*/



.logo_size {
	width: 367px;
	margin: 60px auto 41px;
}


/*
***********************

LOGO.................3

		END

***********************
*/


/*
***********************

DESCRIPTION..........4

		START

***********************
*/


.description p {
	font-size: 13px;
}

.description h3 {
	font-size: 27px;
}

.description_size {
	width: calc(960px - 20px);
	margin: 82px auto 43px;
}

.description_text {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-family: "PT Sans Narrow Bold";
}

.description__clause {
	display: inline-block;
	vertical-align: top;
}

.description__clause_size {
	width: 260px;
	margin: 0 25px;
}

.description__clause p:before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	background: white;
	transform: rotate(45deg);
	margin: 23px auto 32px;
}


/*
***********************

DESCRIPTION..........4

		END

***********************
*/


/*
***********************

NEWS-PHOTO...........5

		START

***********************
*/

.news-photo {
	background: #fdfaf7;
	clear: both;
}

.news-photo_size {
	width: calc(940px - 160px);
	padding: 54px 80px;
	margin: 42px auto 18px;
}

/*.news:after {
	content: "";
	display: block;
	width: 8px;
	height: 278px;
	background: url("img/news-photo-line.png") no-repeat;
}*/

.news-size {
	width: calc(380px - 55px);
	margin: 0 55px 0 0;
}

.news_text {
	text-transform: uppercase;
	line-height: 24px;
	font-size: 14px;
	font-family: "PT Sans Narrow Bold";
}

.news_float {
	float: left;
}
.news h3 {
	font-size: 27px;
}

.news_date {
	color: #41403f;
	font-size: 16px;
	text-transform: lowercase;
	font-family: "PT Sans Narrow", sans-serif;
}

.news__first_size {
	width: calc(100% - 10px);
	padding-right: 10px;
	margin: 40px 0 18px;
}

.news__second_size {
	width: calc(100% - 10px);
	padding-right: 10px;
	margin: 18px 0 36px;
}

.news-photo__btn {
	background: black;
}

.news-photo__btn_size {
	width: 140px;
	height: calc(44px - 15px);
	padding: 15px 0 0 0;
	margin-top: 66px;
}

.news-photo__btn_text {
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	font-family: "PT Sans Narrow Bold";
}

.news-photo__btn_float {
	float: left;
}

.news-photo-line {
	float: left;
}

.photo {
	float: left;
}

.photo_size {
	width: calc(355px - 40px);
	margin: 0 0 0 55px;
}

.photo_text {
	text-transform: uppercase;
	font-size: 16px;
	font-family: "PT Sans Narrow Bold";
}

.photo h3 {
	font-size: 27px;
}

.photo_img {
	width: 286px;
	height: 164px;
	border: 7px solid #fff;
}

.photo__btn_size {
	width: 140px;
	height: calc(44px - 15px);
	padding: 15px 0 0 0;
	margin: 85px 8px 0;
}


/*
***********************

NEWS-PHOTO...........5

		END

***********************
*/

/*
***********************

CONTACTS SIGN-UP.....6

		START

***********************
*/

.contacts-sign-up {
	background: #fdfaf7;
	clear: both;
}

.contacts-sign-up_size {
	width: calc(940px - 160px);
	padding: 54px 80px;
	margin: 18px auto 33px;
}

.contacts {
	float: left;
}

.contacts_size {
	width: calc(380px - 55px);
	height: 322px;
	margin: 0 55px 0 0;
}

.contacts_margin-top {
	margin-top: 20px;
}

.contacts_text {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow Bold";
}

.contacts h3 {
	font-size: 27px;	
}

.contacts br {
	line-height: 40px;
}

.contacts__btn {
	background: black;
}

.contacts__btn_size {
	width: 140px;
	height: calc(44px - 15px);
	padding: 15px 0 0 0;
	margin: 49px 0 0;
}

.contacts__btn_margin-right {
	margin-right: 8px;
}

.contacts__btn_margin-left {
	margin-left: 8px;
}

.contacts__btn_text {
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	font-family: "PT Sans Narrow Bold";
}

.contacts__btn_float {
	float: left;
}

.sign-up {
	float: left;
}

.sign-up_size {
	width: calc(355px - 40px);
	height: 322px;
	margin: 0 0 0 55px;
}

.sign-up_text {
	text-transform: uppercase;
	font-size: 16px;
	font-family: "PT Sans Narrow Bold";
}

.sign-up h3 {
	font-size: 27px;	
}

.sign-in__input-field_size {
	width: calc(140px - 15px);
	height: 43px;
	padding-left: 15px;
	margin: 20px 10px 0 0;
}

.sign-in__input-field_text { 
	text-transform: uppercase;
	font-size: 16px;
	font-family: "PT Sans Narrow Bold";
}

.sign-in__input-field_border {
	border: 3px solid black;
}

.sign-in__input-field_outline {
	outline: 0 solid black;
}

.sign-in__input-field_float {
	float: left;
}

.sign-in__btn-submit_size {
	width: 300px;
	height: 44px;
	background: black;
	margin: 46px 0 0;
}

.sign-in__btn-submit_text {
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	font-family: "PT Sans Narrow Bold";
}

.sign-in__btn-submit_border {
	border: 1px solid black;
}

/*
***********************

CONTACTS SIGN-UP.....6

		END

***********************
*/

/*
***********************

FOOTER...............7

		START

***********************
*/



.footer_size {
	width: 100%;
	margin: 33px auto 0;
	background: #242424;
}

.footer__adress_size {
	margin: 62px 45px 0 10px; 
}

.footer__adress_text {
	color: white;
	text-transform: uppercase;
	text-align: left;
	line-height: 25px;
	font-size: 14px;
	font-family: "PT Sans Narrow Bold";
}

.footer__adress__text_underline {
	text-decoration: underline;
}

.footer_float {
	float: left;
}

.footer h4 {
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	font-family: "PT Sans Narrow Bold";
}

.footer__vk-fb_size {
	width: 143px;
	margin: 62px 130px 0 45px; 
}

.footer__vk_size {
	width: 43px;
	height: calc(43px - 8px);
	padding-top: 8px;
	margin: 0 3px 0 0;
	background: black;
	float: left;
}

.footer__vk_text {
	font-family: "fontello";
	color: white;
	font-size: 25px;
	text-align: center;
}

.footer__f_size {
	width: 43px;
	height: calc(43px - 8px);
	padding-top: 8px;
	margin: 0 3px 0 3px;
	background: black;
	float: left;
}
.footer__f_text {
	font-family: "fontello";
	color: white;
	font-size: 25px;
	text-align: center;
}

.footer__instagram_size {
	width: 43px;
	height: calc(43px - 8px);
	padding-top: 8px;
	margin: 0 0 0 3px;
	background: black;
	float: left;
}

.footer__instagram_text {
	font-family: "fontello";
	color: white;
	font-size: 25px;
	text-align: center;
}

.footer__developer_size {
	width: 140px;
	margin: 62px 0 0 130px; 
	float: left;
}

.footer__developer_text {
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	font-family: "PT Sans Narrow Bold";
}

.footer__develer__html-academy_size {
	width: 140px;
	height: 43px;
	margin: 20px 0 0;
	background: black;	
}

.footer__develer__html-academy_text {
	line-height: 40px;
}


/*
***********************

FOOTER...............7

		END

***********************
*/